<h3>Tables <strong>AVAILABLE</strong> on the selected day and time that accomodate the number of guests: <%= @open_tables.count %></h3>
<h3>Tables <strong>BOOKED</strong> on the selected day and time that accomodate the number of guests: <%= @reserved_tables.count %></h3>
